
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar-brand .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links ul li {
  margin-right: 20px;
}

.navbar-links ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-links ul li a:hover {
  background-color: purple;
  color: black;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-links.open {
  display: block;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
  }

  .navbar-links.open {
    display: flex;
    flex-direction: column;
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .navbar-links ul li {
    margin: 10px 0;
  }
}
